.container {
  width: 500px;
}

header {
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  background-color: transparent;
  height: 1.5em;
  border: none;
  color: white;
  font-size: 1em;
  outline: none;
}

.button:hover {
  color: rgb(223, 169, 22);
  cursor: pointer;
}

#addNew {
  margin: 3px;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: bold;
}

main {
  text-align: center;
}

/* form style */
form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}

input {
  flex-grow: 2;
  font-size: 1.5em;
  outline: none;
  color: rgb(255, 255, 255);
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
}

input:hover {
  cursor: text;
}

form input::placeholder {
  text-align: center;
  color: rgb(255, 255, 255);
}

footer {
  position: fixed;
  right: 50px;
  bottom: 10px;
}






