.taskToDo,
.taskToDo button,
.taskToDo p {
  display: flex;
  margin: 0;
  align-items: center;
  padding-bottom: 3px;
  font-size: 25px;
  cursor: pointer;
}
.taskToDo  p  {
  flex-grow: 2;
}
  .doneTask p {
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
    font-size: 25px;
    text-decoration: line-through;
  }