.taskToDo,
.taskToDo button,
.taskToDo p {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
  padding-bottom: 3px;
  font-size: 1.3em;
  cursor: pointer;
}

.taskToDo p {
  flex-grow: 2;
  flex-wrap: wrap;
  /* width: 400px; */
}
.doneTask p {
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3px;
  font-size: 1.3em;
  text-decoration: line-through;
}
